#bgImg
	{
		background:url(img/bg.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width:105%;
		height:105%;
		position: fixed;
		left: -10px;
		top: -10px;
		z-index: -99;
		display:block;
	}
	
	#splash
	{
		width:auto;
		height:auto;
		max-width:800px;
		margin:10% auto;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	#splash h1
	{
		font-size:80px;
		color:rgb(255,102,51);
		text-shadow:rgb(255,255,255) 0 0 10px;
		letter-spacing:8px;
	}
	
	#splash p
	{
		font-size:26px;
		color:rgb(255,255,255);
		text-shadow:rgb(0,0,0) 0 0 5px;
	}