body
{
	font-family: 'Titillium Web', sans-serif;
	position:relative;
}

/*=========== BASIC STYLING =====*/
.dark-bg
{
	background-color:rgb(51,51,51);
}

.grey-bg
{
	background-color:rgb(234,234,234);
}

.light-bg
{
	background-color:rgb(255,255,255);
}

.light-font
{
	color:rgb(244,244,244);
}

.dark-font
{
	color:rgb(41,41,41);
}

.padding-top-bottom
{
	padding-top:80px;
	padding-bottom:80px;
}

.inactive-link
{
	cursor:not-allowed;
}

::-webkit-scrollbar 
{  
    width: 10px;
}  

::-webkit-scrollbar-track 
{  
    background-color:rgb(0,0,0);  
    border-left: 2px #000000;  
}  

::-webkit-scrollbar-thumb 
{  
    background-color:rgb(153,153,153); 
	border-radius: 10px; 
}  

::-webkit-scrollbar-thumb:hover 
{  
    background-color:rgb(0,204,153);  
} 


/* ============ NAVBAR ============*/
#mainNavbar
{
	padding-top:12px;
	box-shadow:0 1px 2px #CCCCCC;
}

#mainNavbar .navbar-toggle
{
	border:rgb(204,204,204) 1px solid;
	margin-top:3px;
}

.navbar-brand img
{
	max-width:70px; 
	margin-top:-20px;
	float:left;
}

.navbar-brand a:hover, .navbar-brand a:active
{
	text-decoration:none;
}

.navbar-brand
{
	float:none;
	width:100%;
	text-align:center;
	display:inline-block;
	margin:auto;
}

#navbar-brand-text
{
	margin:auto;
	line-height:10px;
	text-align:center;
	font-size:34px; 
	font-weight:200; 
	color:rgb(235,235,235); 
}

@media (max-width: 400px)
{
	#navbar-brand-text
	{
		font-size:26px;
	}
}

@media (max-width: 330px)
{
	#navbar-brand-text
	{
		font-size:22px;
	}
}

#myNavbar li 
{
	font-size:20px;
	font-weight:700;
	color:rgb(255,255,255);
	opacity: 0.5;
    position:relative;
    z-index:1;
	-webkit-transition: opacity 0.5s;
	  -moz-transition: opacity 0.5s;
	  -ms-transition: opacity 0.5s;
	  -o-transition: opacity 0.5s;
	  transition: opacity 0.5s;
}


.navbar-inverse .navbar-nav>li>a 
{
	color:rgb(255,255,255);
}

#myNavbar li:hover
{
	opacity:1;
}

#myNavbar li.active
{
	text-decoration: overline;
	opacity:1;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus
{
	background-color:#222;
}

#logo
{
	vertical-align:middle;
	width:100px;
}

.navbar-nav 
{
    float:none;
    text-align:center;
}

#mainNavbar .navbar-nav li 
{
    display:inline-block;
    float:none;
}

#mainNavbar li
{
	vertical-align:middle;
	margin:auto;
	width:200px;
}

@media (max-width: 1200px)
{
	#mainNavbar li 
	{
		width:150px;
	}
}

@media (max-width: 995px)
{
	#mainNavbar li 
	{
		width:auto;
	}
}

@media (max-width: 767px)
{
	#mainNavbar .navbar-nav li 
	{
		display:block;
		float:none;
	}
}



/*=========== HEADER ==========*/
#headerBg
{
	background-image:url(../img/headerBg.jpg);
	background-repeat:no-repeat;
	background-position:right;
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	z-index:-999;
	position:fixed;
	height:700px;
	width:100%;
}

.jumbotron 
{
    /*background:#38A5DB;*/
	background-color:transparent;
    color:rgb(51,51,51);
	text-shadow:rgb(255,255,255) 0 0 2px;
    padding:0;
    margin-bottom:0;
    padding-top:250px;
	padding-bottom:250px;
	overflow:hidden;
	text-align:center;
}

.jumbotron .text-col
{
    margin-top:50px;
}

.jumbotron h1
{
	font-weight:600;
    letter-spacing:0.02em;
    margin-bottom:10px;
}

.jumbotron p
{
    font-size:26px;
    font-weight:400;
    letter-spacing:0.02em;
}

#dp
{
	max-height:340px;
	max-width:340px;
	border-radius:50%;
	margin:auto;
	box-shadow:rgb(51,51,51) 0 0 10px 10px;
	
	-webkit-transition:box-shadow 0.5s;
	  -moz-transition:box-shadow 0.5s;
	  -ms-transition:box-shadow 0.5s;
	  -o-transition:box-shadow 0.5s;
	  transition:box-shadow 0.5s;
}

#dp:hover
{
	box-shadow:rgb(102,102,102) 0 0 10px 10px;
}

#dpCol
{
	display:none;
}

#dpColSubstitute
{
}

@media (max-width: 1000px)
{
	#headerBg
	{
		background-position:left;
	}
	
	#dpCol
	{
		display:block;
	}
	
	#dpColSubstitute
	{
		display:none;
	}
	
	.jumbotron 
	{
		padding:200px 0 150px;
	}
}



/*============= WHAT I DO ============*/
#whatido
{
	text-align:center;
}

#whatido h1
{
	font-weight:600;
	font-size:4em;
	letter-spacing:0.02em;
	margin-bottom:20px;
}

.item h2
{
	font-weight:300;
	-webkit-transition:color 0.5s;
	  -moz-transition:color 0.5s;
	  -ms-transition:color 0.5s;
	  -o-transition:color 0.5s;
	  transition:color 0.5s;
}

.item:hover h2
{
    color:#38A5DB;
}

#whatido p
{
	font-size:20px;
    font-weight:400;
    letter-spacing:0.02em;
	margin-bottom:30px;
}

.item .icon
{
	margin:60px auto 30px auto;
	
	-webkit-transition:all 0.5s;
	  -moz-transition:all 0.5s;
	  -ms-transition:all 0.5s;
	  -o-transition:all 0.5s;
	  transition:all 0.5s;
}

.item:hover .icon
{
    -webkit-transform:translateY(-10px);
    transform:translateY(-10px);
	
    -webkit-transition:-webkit-transform .4s ease-out;
    transition:transform .4s ease-out;
}



/*=============== ABOUT ME ===========*/
#aboutMe
{
	text-align:center;
}

#aboutMe header
{
	margin-bottom:60px;
}

#aboutMe h1
{
	font-weight:600;
	font-size:4em;
	letter-spacing:0.02em;
}

#aboutMe p
{
    font-size:22px;
    font-weight:400;
    letter-spacing:0.02em;
}

#cv
{
	margin:40px auto 20px auto;
	padding:10px 10px 10px 10px;
	background-color:rgb(0,204,102);
	text-align:center;
	font-size:18px;
	border:rgb(51,51,51) 1px solid;
	border-radius:10px;
	width:200px;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

#cv:hover
{
	background-color:rgb(0,235,102);
}

#cv a
{
	color:rgb(255,255,255);
}

#cv a:hover, #cv a:active
{
	text-decoration:none;
}



/*================= SKILLS ==========*/
#skills
{
	text-align:center;
}

#skills h1
{
	font-weight:600;
	font-size:4em;
	letter-spacing:0.02em;
	margin-bottom:10px;
}

#skills h2
{
	letter-spacing:0.02em;
	margin-top:70px;
}

.progress
{
	background: rgba(245, 245, 245, 1); 
	border: 1px solid rgba(225, 225, 225, 1); 
	border-radius: 25px; 
	height: 30px;
	width:80%;
	margin:auto;
}

.progress-bar-custom 
{
	font-size:22px;
	padding-top:5px;
}



/*================ MY WORKS ==========*/

#works
{
	text-align:center;
	overflow:hidden;
}

#works h1
{
	font-weight:600;
	font-size:4em;
	letter-spacing:0.02em;
}

#works p
{
    font-size:22px;
    font-weight:400;
    letter-spacing:0.02em;
	margin-bottom:50px;
}

.project-item-container
{
	overflow:hidden;
}

.project-item
{
    position:relative;
    margin:25px 30px 25px 30px;
    width:auto;
	margin-bottom:25px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity:1;
	filter:alpha(opacity=100);
	overflow:hidden;
	display:inline-block;
	float:none;
}

@media (max-width: 400px)
{
	.project-item
	{
		margin:25px auto 25px auto;
	}
}

.project-item img 
{
	-webkit-transform: translateX(0);
	transform: translateX(0);
    -webkit-transition:-webkit-transform 0.4s ease-out;
    transition:transform 0.4s ease-out;
}

.project-item:hover img 
{
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}


.project-item .hover-mask 
{
	position: absolute;
	padding: 0;
	padding-left: 50px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #1D2026;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.project-item:hover .hover-mask
{
    -webkit-transform:translateX(-50px);
    transform:translateX(-50px);
}

.project-item .hover-mask .project-title 
{
    color:#fff;
    margin:30px 0 0;
    padding:10px;
    font-size:18px;
    line-height:24px;
    font-weight:600;
    text-transform:uppercase;
    text-align:center;
}

.project-item .hover-mask p 
{
    color:#38A5DB;
    margin:0 10px auto 10px;
    font-size:14px;
    line-height:24px;
    font-weight:600;
    text-align:center;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

.project-item .hover-mask:after
{
    display:block;
    position:absolute;
    content: "\f061";
    font-family:'FontAwesome';
    bottom:20px;
    left:175px;
    color:#fff;
}


/*================== CONTACT ===============*/
#contact
{
	text-align:center;
}

#contact h1
{
	font-weight:600;
	font-size:4em;
	letter-spacing:0.02em;
}

#contact p
{
    font-size:22px;
    font-weight:400;
    letter-spacing:0.02em;
	margin-bottom:50px;
}

input, textarea
{
	padding-top: 15px;
	background: rgba(255,255,255,0.10);
	box-shadow: 0 2px 8px rgba(0,0,0,0.2);
	border: none;
	color: white;
	height:44px;
	max-height:44px;
	min-height:44px;
	width:207px;
	max-width:207px;
	min-width:207px;
	padding: 10px 15px;
	border-radius: 25px;
	font-size: 16px;
	outline: none;
	vertical-align:middle;
	margin-left:20px;
	margin-right:20px;
		  
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}

input:hover, textarea:hover, input:focus, textarea:focus
{
	background: rgba(255,255,255,0.20);
}

#contact .btn {
    margin-left:3px;
}

#contact-form .field-wrap{
    display:inline-block;
    position:relative;
    vertical-align:top;
    margin-bottom:60px;
}

#contact-form .field-wrap .control-label{
    display:none;
    position:absolute;
    top:-30px;
    left:15px;
}

#contact-form.no-placeholder .field-wrap .control-label{
    display:inline-block;
}

#send-button
{
	background-color:rgb(0,153,255);
	font-size:18px;
	color:rgb(214,214,214);
	height:40px;
	width:180px;
	border-radius:25px;
	outline:none;
		
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

#send-button:hover
{
	color:rgb(255,255,255);
	background-color:rgb(0,204,255);
}

#turing-test
{
	margin-bottom:0 !important;
}

#turing-answer
{
	width:20px;
	min-width:100px;
	text-align:center;
	margin-top:-5px;
}


/*==================== FOOTER ===============*/
#main-footer p
{
    font-size:20px;
    line-height:40px;
	text-align:right;
}

@media (max-width: 767px)
{
	#main-footer p
	{
		text-align:center;
	}
	
	.social-links
	{
		text-align:center;
	}
}

#main-footer hr
{
    margin-top:0;
    border-color:rgb(0,0,0);
}

.social-links 
{
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}

.social-links li
{
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    box-shadow:0 4px 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a 
{
    display:block;
    color:#fff;
    color:rgba(255,255,255,0.7);
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    background:rgba(0,0,0,0.2);
    border-radius:50%;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a:hover 
{
    color:#fff;
    background:#38A5DB;
}
