/*=========== BASIC STYLING =====*/
.dark-bg
{
	background-color:rgb(51,51,51);
}

.grey-bg
{
	background-color:rgb(234,234,234);
}

.light-bg
{
	background-color:rgb(255,255,255);
}

.light-font
{
	color:rgb(244,244,244);
}

.dark-font
{
	color:rgb(41,41,41);
}



/*========== NAVBAR ==========*/
#navbar-brand-text
{
	color:rgb(51,51,51);
}

#myNavbar li
{
	opacity:0.7;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
	background-color:#F8F8F8;
}



/*============ HOME ==============*/
#home
{
	padding-top:150px;
	text-align:center;
}

.cv-dp-container
{
	float:none;
	display:inline-block;
}

#cv-dp
{
	max-width:200px;
	border-radius:10px;
	box-shadow:rgb(51,51,51) 0 0 5px 5px;
	float:right;
	
	-webkit-transition:box-shadow 0.5s;
	  -moz-transition:box-shadow 0.5s;
	  -ms-transition:box-shadow 0.5s;
	  -o-transition:box-shadow 0.5s;
	  transition:box-shadow 0.5s;
}

#cv-dp:hover
{
	box-shadow:rgb(0,102,133) 0 0 5px 5px;
}

.cv-dp-info
{
	float:none;
	display:inline-block;
	text-align:left;
}

@media (max-width: 767px)
{
	.cv-dp-info
	{
		text-align:center;
	}
}

#cv-name
{
	font-size:34px;
	font-weight:600;
}

#cv-dob
{
	font-size:18px;
	margin-bottom:0;
}

#cv-nationality
{
	font-size:18px;
}

#cv-contact
{
	font-size:18px;
}

#cv-contact a
{
	-webkit-transition:all 0.5s;
	  -moz-transition:all 0.5s;
	  -ms-transition:all 0.5s;
	  -o-transition:all 0.5s;
	  transition:all 0.5s;
}

#cv-contact a:hover, #cv-contact a:active
{
	color:rgb(0,204,102);
	text-decoration:none;
}



/*============== EDUCATION ============*/
#education
{
	text-align:center;
}

#education h1
{
	font-weight:600;
	font-size:3.5em;
	letter-spacing:0.02em;
	margin-bottom:60px;
}

#education .row
{
	margin-top:20px;
	margin-bottom:30px;
}

.education-header
{
	font-size:40px;
	color:rgb(0,102,153);
	text-align:right;
	float:none;
	display:inline-block;
	vertical-align:top;
}

.education-details
{
	font-size:18px;
	text-align:left;
	float:none;
	display:inline-block;
}

.education-details a
{
	-webkit-transition:all 0.5s;
	  -moz-transition:all 0.5s;
	  -ms-transition:all 0.5s;
	  -o-transition:all 0.5s;
	  transition:all 0.5s;
}

.education-details a:hover, .education-details a:active
{
	color:rgb(0,204,102);
	text-decoration:none;
}

@media (max-width: 767px)
{
	.education-header
	{
		text-align:center;
		float:none;
		display:block;
	}
	
	.education-details
	{
		font-size:18px;
		text-align:center;
		float:none;
		display:block;
	}
}




/*============== EXPERIENCE ============*/
#experience
{
	text-align:center;
}

#experience h1
{
	font-weight:600;
	font-size:3.5em;
	letter-spacing:0.02em;
	margin-bottom:60px;
}

#experience .row
{
	margin-top:20px;
	margin-bottom:30px;
}

.experience-header
{
	font-size:40px;
	color:rgb(0,204,102);
	text-align:right;
	float:none;
	display:inline-block;
	vertical-align:top;
}

.experience-details
{
	font-size:18px;
	text-align:left;
	float:none;
	display:inline-block;
}

.experience-details p
{
	font-size:20px;
}

.experience-details a
{
	-webkit-transition:all 0.5s;
	  -moz-transition:all 0.5s;
	  -ms-transition:all 0.5s;
	  -o-transition:all 0.5s;
	  transition:all 0.5s;
}

.experience-details a:hover, .experience-details a:active
{
	color:rgb(0,204,102);
	text-decoration:none;
}

@media (max-width: 767px)
{
	.experience-header
	{
		text-align:center;
		float:none;
		display:block;
	}
	
	.experience-details
	{
		font-size:18px;
		text-align:center;
		float:none;
		display:block;
	}
}




/*============== OTHER PROJECTS ===============*/
#other-projects
{
	text-align:center;
}

#other-projects h1
{
	font-weight:600;
	font-size:3.5em;
	letter-spacing:0.02em;
	margin-bottom:60px;
}

#other-projects .row
{
	margin-top:20px;
	margin-bottom:30px;
}

.other-projects-header
{
	font-size:22px;
	color:rgb(0,102,153);
	text-align:right;
	float:none;
	display:inline-block;
	vertical-align:top;
}

.other-projects-details
{
	font-size:18px;
	text-align:left;
	float:none;
	display:inline-block;
}

.other-projects a
{
	-webkit-transition:all 0.5s;
	  -moz-transition:all 0.5s;
	  -ms-transition:all 0.5s;
	  -o-transition:all 0.5s;
	  transition:all 0.5s;
}

.other-projects-details a:hover, .other-projects-details a:active
{
	color:rgb(0,204,102);
	text-decoration:none;
}

@media (max-width: 767px)
{
	.other-projects-header
	{
		text-align:center;
		float:none;
		display:block;
	}
	
	.other-projects-details
	{
		font-size:18px;
		text-align:center;
		float:none;
		display:block;
	}
}



/*============== OTHER PROJECTS ===============*/
#skills
{
	text-align:center;
}

#skills h1
{
	font-weight:600;
	font-size:3.5em;
	letter-spacing:0.02em;
	margin-bottom:60px;
}

#skills .row
{
	margin-top:20px;
	margin-bottom:30px;
}

.skills-header
{
	font-size:40px;
	color:rgb(0,102,153);
	text-align:right;
	float:none;
	display:inline-block;
	vertical-align:top;
}

.skills-details
{
	font-size:18px;
	text-align:left;
	float:none;
	display:inline-block;
}

.skills a
{
	-webkit-transition:all 0.5s;
	  -moz-transition:all 0.5s;
	  -ms-transition:all 0.5s;
	  -o-transition:all 0.5s;
	  transition:all 0.5s;
}

.skills-details a:hover, .skills-details a:active
{
	color:rgb(0,204,102);
	text-decoration:none;
}

@media (max-width: 767px)
{
	.skills-header
	{
		text-align:center;
		float:none;
		display:block;
	}
	
	.skills-details
	{
		font-size:18px;
		text-align:center;
		float:none;
		display:block;
	}
}

#skills .progress
{
	margin-bottom:20px;
	margin-top:20px;
}

.progress-bar-custom
{
	font-size:18px;
	padding-top:5px;
	font-weight:200;
}



/*============== ACHIEVEMENTS ===============*/
#achievements
{
	text-align:center;
}

#achievements h1
{
	font-weight:600;
	font-size:3.5em;
	letter-spacing:0.02em;
	margin-bottom:60px;
}

.achievements-content
{
	float:none;
	display:inline-block;
	font-size:18px;
}

.pdf-btn-container
{
	margin-top:30px;
	float:none;
	display:inline-block;
}

#pdf-btn
{
	margin:40px auto 20px auto;
	padding:10px 10px 10px 10px;
	background-color:rgb(0,204,102);
	text-align:center;
	font-size:18px;
	border:rgb(51,51,51) 1px solid;
	border-radius:10px;
	width:230px;
    -webkit-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

#pdf-btn:hover
{
	background-color:rgb(0,235,102);
}

#pdf-btn a
{
	color:rgb(255,255,255);
}

#pdf-btn a:hover, #pdf-btn a:active
{
	text-decoration:none;
}